

@model Tsr.Core.Models.CertificationCertificateVM
@using Tsr.Web.Common
<style>
    html, tbody {
        font-family: Calibri;
        font-size: small;
    }

    input {
        border: 0;
        border-bottom: solid 1px #000;
        outline: none;
        width: 100%;
    }
</style>
@foreach (var c in Model._CertificateList)
{

    <table style="width:100%; height:100%; padding:20px;border-collapse:separate;border-style: solid;border-width: 27px;-moz-border-image: url('../Img/border.png') 27 round;-webkit-border-image: url('../Img/border.png') 27 round;-o-border-image: url('../Img/border.png') 27 round;border-image: url('../Img/border.png') 27 fill round;page-break-inside:avoid" cellspacing="0">

        <thead>
            <tr>
                <td colspan="15">

                    <div style="text-align:center">

                        <span style="font-family:'Times New Roman';font-size:20px; font-weight:bold">SIR  MOHAMED  YUSUF  SEAMEN  WELFARE  FOUNDATION</span>

                        <div style="width:100%;">
                            <div style="width:85%;float:right">
                                Nhava,Panvel Taluka Dist. Raigad-410206,Maharashtra<br />

                                Tel : 022-27212800/900 Fax: 0222272112495<br />
                                Email ID: tsrahman@tsrahaman.org<br />
                                www.tsrahaman.org<br />
                                INDOS No.009<br />
                                <span style="font-family:'Old English Text MT';font-size:40px; font-weight:bold">Training Ship Rahaman</span><br />
                                <span style="font-family:Calibri;font-size:25px; font-weight:bold">DR.LEO BARNES PRE-SEA ACADEMY</span>
                            </div>
                            <div style="width:150px;height:160px;text-align:left;margin-right:15%">
                                <img src="~/Img/avatar.png" style="width:140px;height:150px;position:absolute" />
                            </div>

                        </div>
                    </div>
                </td>

            </tr>

        </thead>
        <tbody>
            <tr>
                <td colspan="15" style="text-align:right;font-weight:bold;font-family:Calibri;font-size:large">Certificate No. 0610510012016</td>
            </tr>
            <tr>
                <td style="text-align:center" colspan="15">
                    <span style="font-family:Calibri;font-size:22px;font-style:italic; font-weight:bold">@(c.CourseName == null ? "" : c.CourseName)</span>
                </td>
            </tr>
            <tr>
                <td colspan="15">THIS IS TO CERTIFY THAT</td>
               
            </tr>
            <tr style="border-bottom:1px solid black">
                <td colspan="15">
                    <span style="font-family:'Times New Roman';font-size:15px; font-weight:bold"><input type="text" value="@(c.ApplicantName == null ? "" : c.ApplicantName)" /></span>
                </td>

            </tr>
            <tr>
                <td colspan="2">

                    Roll No
                </td>
                <td colspan="2">
                    <span style="font-family:'Times New Roman';font-size:15px; font-weight:bold"><input type="text" style="width:100px" value="@(c.CDCNo == null ? "" : c.CDCNo)" /></span>

                </td>
                <td colspan="8">
                    Date of Birth
                </td>
                <td colspan="3">
                    <span style="font-family:'Times New Roman';font-size:15px; font-weight:bold"><input type="text" style="width:100%" value="@(c.DateofBirth == null ? "" : @Convert.ToDateTime(c.DateofBirth).ToString("dd-MM-yyyy"))" /> </span>
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    Indian National Database(INDoS No.)

                </td>
                <td colspan="2">
                    <span style="font-family:'Times New Roman';font-size:15px; font-weight:bold"> <input type="text" style="width:100px" value="@(c.Indosno == null ? "" : c.Indosno)" /></span>
                </td>
                <td colspan="2">
                    has attended


                </td>

            </tr>

            <tr>
                <td colspan="15">@(c.LineOfCertificate==null?"":c.LineOfCertificate)</td>

            </tr>




            <tr>
                <td colspan="15">
                   @(c.Paragraph1 == null ? "" : c.Paragraph1) <span style="font-family:'Times New Roman';font-size:15px; font-weight:bold"><input type="text" style="width:150px" value="@(c.StartDate == null ? "" : @Convert.ToDateTime(c.StartDate).ToString("dd-MM-yyyy"))" /></span> to
                    <span style="font-family:'Times New Roman';font-size:15px; font-weight:bold"><input type="text" style="width:150px" value="@(c.EndDate == null ? "" : @Convert.ToDateTime(c.EndDate).ToString("dd-MM-yyyy"))" /></span>
                    at Training Ship "Rahaman"
                </td>
            </tr>
           

         
            <tr>
                <td colspan="15"><p>@(c.Paragraph2 == null ? "" : c.Paragraph2)</p></td>
            </tr>
            <tr>
                <td colspan="15"><p>@(c.Paragraph3 == null ? "" : c.Paragraph3)</p></td>
            </tr>
            
            <tr>
                <td colspan="9">Signature of Candidate:<input style="width:100px" type="text" /></td>

                <td align="center" colspan="6"><input type="text" /><br>Course Incharge<br>(@(c.CourseInCharge == null ? "" : c.CourseInCharge))</td>

            </tr>


            <tr>
                <td colspan="15">
                    Issued at Mumbai.
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Date of Issue:
                </td>
                <td colspan="2">
                    <input type="text" style="width:100px" value="@(c.DateOfIssue == null ? "" : Convert.ToDateTime(c.DateOfIssue).ToString("dd-MM-yyyy"))" />
                </td>
                <td style="text-align:center" colspan="9">
                    Principal <br />(@(c.PrincipalName == null ? "" : c.PrincipalName))
                </td>
                <td colspan="2" style="text-align:center">
                    @Html.Image(c.PrincipalSign, "No Signature Available", "80", "100")
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div style="width:125px;height:130px;border:1px solid #000;text-align: center;">Photograph</div>
                </td>

                <td align="right" colspan="7">


                    <img src="~/Img/DNV LOGO.jpg" style="width:50px;height:80px;" />

                </td>

            </tr>





        </tbody>


    </table>
}


