
@model Tsr.Core.Models.CertificationCertificateVM
@using Tsr.Web.Common
<style>
     html, tbody {
        font-family: Arial;
         font-size:14px;
    }
    input {
        border: 0;
        border-bottom: solid 1px #000;
        outline: none;
        width: 100%;
         text-transform:uppercase;
    }
</style>
@foreach (var c in Model._CertificateList)
{


    <table style="width:100%; height:100%; padding:20px;border-collapse:separate;border-style: solid;border-width:25px;-moz-border-image: url('../Img/border.png') 100 round;-webkit-border-image: url('../Img/border.png') 100 round;-o-border-image: url('../Img/border.png') 100 round;border-image: url('../Img/border.png') 100 fill round;page-break-inside:avoid" cellspacing="0">

        <thead>
            <tr>
                <td colspan="15">

                    <div style="text-align:center">
                        <span style="font-family:'Times New Roman';font-size:20px; font-weight:bold">SIR  MOHAMED  YUSUF  SEAMEN  WELFARE  FOUNDATION</span>

                        <div style="width:100%;">
                            <div style="width:85%;float:right">
                                Nhava,Panvel Taluka Dist. Raigad-410206,Maharashtra<br />

                                <b>Tel : 022-27212800/900 Fax: 022-27212495</b><br />
                                Email ID: tsrahaman@tsrahaman.org<br />
                                www.tsrahaman.org<br />
                                INDOS No.009<br />
                                <span style="font-family:'Old English Text MT';font-size:40px; font-weight:bold">Training Ship Rahaman</span><br />
                                <span style="font-family:Calibri;font-size:25px; font-weight:bold">DR.LEO BARNES PRE-SEA ACADEMY</span>
                            </div>
                            <div style="width:125px;height:155px;text-align:left;margin-right:15%">
                                <img src="~/Img/LOGO.jpg" style="width:120px;height:150px;position:absolute" />
                            </div>

                        </div>
                    </div>
                </td>

            </tr>

        </thead>
        <tbody>

            <tr>
                <td style="text-align:center" colspan="15">
                    <span style="font-family:Calibri;font-size:22px;font-style:italic; font-weight:bold;color:#3e4095">@(c.CourseName == null ? "" : c.CourseName)</span>
                </td>
            </tr>
            <tr>
                <td colspan="6">THIS IS TO CERTIFY THAT</td>
                <td colspan="9" style="text-align:right;font-weight:bold;font-family:Calibri;font-size:large">Certificate No. @(c.CertificateNo == null ? "" : c.CertificateNo)</td>
            </tr>
            <tr>
                <td colspan="15">
                    <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold" value="@(c.ApplicantName == null ? "" : c.ApplicantName)" />
                </td>

            </tr>
            <tr>
                <td colspan="15">

                    <span style="padding-right: 10px;">
                        Roll No</span>
                    <span style="padding-right:10px;">
                        <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:120px" value="@(c.CDCNo == null ? "" : c.CDCNo)" />
                        </span>
                    <span style="padding-right:10px;">

                        Date of Birth
                        </span>
                    <span>
                        <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:250px" value="@(c.DateofBirth == null ? "" : @Convert.ToDateTime(c.DateofBirth).ToString("dd-MM-yyyy"))" />
                    </span></td>
            </tr>
            <tr>
                <td colspan="15">
                    <span style="padding-right:10px;">
                        Indian National Database(INDoS No.)
                        </span>
                    <span style="padding-right:10px;">

                        <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:180px" value="@(c.Indosno == null ? "" : c.Indosno)" />
                        </span>
                        has successfully


</td>

            </tr>

            <tr>
                <td colspan="15">completed a 25 weeks Pre Sea Certificate Course in Maritime Catering held</td>

            </tr>




            <tr>
                <td colspan="15">
                    <span style="padding-right:10px;">
                        from</span><input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:160px;padding-right:10px" value="@(c.StartDate == null ? "" : @Convert.ToDateTime(c.StartDate).ToString("dd-MM-yyyy"))" /> to
                        <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:160px;padding-right:10px;" value="@(c.EndDate == null ? "" : @Convert.ToDateTime(c.EndDate).ToString("dd-MM-yyyy"))" />
                        at Training Ship "Rahaman"
</td>
            </tr>
            <tr>
                <td colspan="15">The Course consists of basic and professional training as elaborated below:</td>
            </tr>

            <tr>
                <td colspan="15"><p><b>Part A</b>&nbsp;&nbsp;<span style="font-size:x-small"> @Html.Raw(c.LineOfCertificate == null ? "" : c.LineOfCertificate)</span></p></td>
            </tr>
            <tr>
                <td colspan="15"><p><b>Part B</b>&nbsp;&nbsp;<span style="font-size:x-small">@Html.Raw(c.Paragraph1 == null ? "" : c.Paragraph1)</span></p></td>
            </tr>
            <tr>
                <td colspan="15"><p><b>Part C</b>&nbsp;&nbsp;<span style="font-size:x-small">@Html.Raw(c.Paragraph2 == null ? "" : c.Paragraph2)</span></p></td>
            </tr>
            <tr>
                <td colspan="15"><p><b>Part D</b>&nbsp;&nbsp;<span style="font-size:x-small">@Html.Raw(c.Paragraph3 == null ? "" : c.Paragraph3)</span></p></td>
            </tr>
            <tr>
                <td colspan="15"><p><b>Part E</b>&nbsp;&nbsp;<span style="font-size:x-small">@Html.Raw(c.Topic4 == null ? "" : c.Topic4)</span></p></td>
            </tr>
            <tr>
                <td colspan="15">This Certificate is issued under the authority of the Directorate General of Shipping, Ministry of Shipping, Govt. of India.</td>
            </tr>
            <tr style="padding-top: 20px;">
                <td colspan="9">Signature of Rating:__________________</td>

                <td colspan="6">
                    <input readonly type="text" style="padding-top: 25px;" /><br>
                    <center>Course Incharge<br>(@(c.CourseInCharge == null ? "" : c.CourseInCharge))</center>
                </td>

            </tr>


            <tr>
                <td colspan="15">
                    Issued at Mumbai.
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    
                        Date of Issue:
                        
                        <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:80px" value="@(c.DateOfIssue == null ? "" : Convert.ToDateTime(c.DateOfIssue).ToString("dd-MM-yyyy"))" />
</td>
                <td  colspan="9">
                    <center> Principal <br />(@(c.PrincipalName == null ? "" : c.PrincipalName))</center>
                </td>
                <td colspan="2" style="text-align:center;padding-top:5px">
                    @Html.Image(c.PrincipalSign, "No Signature Available", "75", "180")
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div style="width:100px;height:125px;border:1px solid #000; display: flex;align-items: center;justify-content: center;"><p style="text-align:center;vertical-align:middle">Photograph</p></div>
                </td>

                <td align="right" colspan="7">


                    <img src="~/Img/DNV LOGO.jpg" style="width:50px;height:85px;" />

                </td>

            </tr>

            <tr>
                <td colspan="15">
                    <span style="font-weight:normal;font-size:xx-small"> @Html.Raw(c.Topic5 == null ? "" : c.Topic5)</span>
                </td>
            </tr>



        </tbody>


    </table>
}


