@model Tsr.Core.Models.CertificationCertificateVM
@using Tsr.Web.Common
<style>
      html, tbody {
        font-family: Arial;
         font-size:14px;
    }
    input {
        border: 0;
        border-bottom: solid 1px #000;
        outline: none;
        width: 100%;
         text-transform:uppercase;
    }
</style>
@foreach (var c in Model._CertificateList)
{


    <table style="width:100%; height:100%; padding:20px;border-collapse:separate;border-style: solid;border-width:25px;-moz-border-image: url('../Img/border.png') 100 round;-webkit-border-image: url('../Img/border.png') 100 round;-o-border-image: url('../Img/border.png') 100 round;border-image: url('../Img/border.png') 100 fill round;page-break-inside:avoid" cellspacing="0">

        <thead>
            <tr>
                <td colspan="15">

                    <div style="text-align:center">
                        <span style="font-family:'Times New Roman';font-size:20px; font-weight:bold">SIR  MOHAMED  YUSUF  SEAMEN  WELFARE  FOUNDATION</span>

                        <div style="width:100%;">
                            <div style="width:85%;float:right">
                                Nhava,Panvel Taluka Dist. Raigad-410206,Maharashtra<br />

                                <b>Tel : 022-27212800/900 Fax: 022-27212495</b><br />
                                Email ID: tsrahaman@tsrahaman.org<br />
                                www.tsrahaman.org<br />
                                INDOS No.009<br />
                                <span style="font-family:'Old English Text MT';font-size:40px; font-weight:bold">Training Ship Rahaman</span>
                            </div>
                            <div style="width:125px;height:155px;text-align:left;margin-right:15%">
                                <img src="~/Img/LOGO.jpg" style="width:120px;height:150px;position:absolute" />
                            </div>


                        </div>
                    </div>
                </td>

            </tr>
        </thead>
        <tbody>

            <tr><td colspan="15" style="text-align:right;font-weight:bold;font-family:Calibri;font-size:large">Certificate No. @(c.CertificateNo == null ? "" : c.CertificateNo)</td></tr>
            <tr>
                <td style="text-align:center" colspan="15"><span style="font-family:Calibri;font-size:30px; font-weight:bold;font-style:italic;color:#3e4095">@(c.CourseName == null ? "" : c.CourseName)</span></td>
            </tr>
            <tr>
                <td colspan="15">THIS IS TO CERTIFY THAT</td>
            </tr>
            <tr style="border-bottom:1px solid black">
                <td colspan="15">
                    <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold" value="@(c.ApplicantName == null ? "" : c.ApplicantName)" />
                </td>

            </tr>
            <tr>
                <td colspan="15">
                    <span style="padding-right:10px"> RollNo</span>
                   
                
                    <span style="padding-right:10px">
                        <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:120px" value="@(c.ApplicationCode == null ? "" : c.ApplicationCode)" />
                        </span>
                    <span style="padding-right:10px">
                        Date of Birth
                        </span>
                    <span style="padding-right:10px">
                        <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:240px" value="@(c.DateofBirth == null ? "" : @Convert.ToDateTime(c.DateofBirth).ToString("dd-MM-yyyy"))" />
                   </span></td>
            </tr>
            <tr>
                <td colspan="15">
                    <span style="padding-right:10px">
                        Indian National Database(*INDoS No.)
                    </span>
                    <span style="padding-right:10px">
                        <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:150px" value="@(c.Indosno == null ? "" : c.Indosno)" />
                        </span>
                        has successfully
                   </td>


            </tr>
            <tr>
                <td colspan="15">
                    completed a Pre Sea Training Course for Rating forming part of the Navigational and
                </td>
            </tr>
            <tr>
                <td colspan="15">
                   <span style="padding-right:10px">Engineering watch from</span>  <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:120px" value="@(c.StartDate==null?"":Convert.ToDateTime(c.StartDate).ToString("dd-MM-yyyy"))" /> to <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:120px" value="@(c.EndDate==null?"":Convert.ToDateTime(c.EndDate).ToString("dd-MM-yyyy"))"/>
                </td>
            </tr>



            <tr>
                <td colspan="15">@Html.Raw(c.LineOfCertificate == null ? "" : c.LineOfCertificate)</td>
            </tr>



            <tr>
                <td colspan="15"><p style="text-align:justify">@Html.Raw(c.Paragraph1 == null ? "" : c.Paragraph1)</p></td>
            </tr>

            <tr>
                <td colspan="15"><p style="text-align:justify">@Html.Raw(c.Paragraph2 == null ? "" : c.Paragraph2)</p></td>
            </tr>
            <tr>
                <td colspan="15"><p style="text-align:justify">@Html.Raw(c.Paragraph3 == null ? "" : c.Paragraph3)</p></td>
            </tr>
            <tr>
                <td colspan="15">
                    <div style="width:100px;height:125px;border:1px solid #000; display: flex;align-items: center;justify-content: center;"><p style="text-align:center;vertical-align:middle">Photograph</p></div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center;padding-top:20px">
                    <br />
                    <b>Rating's Signature</b>
                </td>
                <td colspan="4" style="text-align:center;padding-top:20px">
                    <span style="font-family:'Times New Roman';font-size:15px; font-weight:bold"> @(c.DateOfIssue == null ? "" : Convert.ToDateTime(c.DateOfIssue).ToString("dd-MM-yyyy"))</span>
                    <br />
                    <b>Date of Issue</b>
                </td>
                <td colspan="8" style="text-align:center;padding-top:20px">
                    <span style="font-family:'Times New Roman';font-size:15px; font-weight:bold"> @(c.PrincipalName == null ? "" : c.PrincipalName)</span>
                    <br />
                    <b>PRINCIPAL</b>
                </td>
            </tr>
            <tr>


                <td align="right" colspan="15">


                    <img src="~/Img/DNV LOGO.jpg" style="width:50px;height:90px;" />

                </td>



            </tr>
            <tr>
                <td colspan="15">
                    <span style="font-weight:normal;font-size:xx-small"> @Html.Raw(c.Topic5 == null ? "" : c.Topic5)</span>
                </td>
            </tr>
        </tbody>


    </table>
}


