@model Tsr.Core.Models.CertificationCertificateVM
@using Tsr.Web.Common
<style>
    html, tbody {
        font-family: Arial;
    }
    input {
        border: 0;
        border-bottom: solid 1px #000;
        outline: none;
        width: 100%;
    }
</style>
 @foreach (var c in Model._CertificateList)
 {

    <table style="width:100%; height:100%; padding:20px;border-collapse:separate;border-style: solid;border-width:20px;-moz-border-image: url('../Img/border.png') 100 round;-webkit-border-image: url('../Img/border.png') 100 round;-o-border-image: url('../Img/border.png') 100 round;border-image: url('../Img/border.png') 100 fill round;page-break-inside:avoid" cellspacing="0">

        <thead>
            <tr>
                <td colspan="15">

                    <div style="text-align:center">
                        <span style="font-family:'Times New Roman';font-size:20px; font-weight:bold">SIR  MOHAMED  YUSUF  SEAMEN  WELFARE  FOUNDATION</span>

                        <div style="width:100%;">
                            <div style="width:85%;float:right">
                                Nhava,Panvel Taluka Dist. Raigad-410206,Maharashtra<br />

                                Tel : 022-27212800/900 Fax: 0222272112495<br />
                                Email ID: tsrahman@tsrahaman.org<br />
                                www.tsrahaman.org<br />
                                INDOS No.009<br />
                                <span style="font-family:'Old English Text MT';font-size:40px; font-weight:bold">Training Ship Rahaman</span>
                            </div>
                            <div style="width:150px;height:160px;text-align:left;margin-right:15%">
                                <img src="~/Img/LOGO.jpg" style="width:140px;height:150px;position:absolute" />
                            </div>


                        </div>
                    </div>
                </td>

            </tr>
        </thead>
        <tbody>


            <tr>
                <td colspan="6">THIS IS TO CERTIFY THAT</td>
                <td colspan="9" style="text-align:right;font-weight:bold;font-family:Calibri;font-size:large">Certificate No. 0610510012016</td>

            </tr>
            <tr>
                <td colspan="15">
                    <input type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold" value="@(c.ApplicantName == null ? "" : c.ApplicantName)" />

                </td>

            </tr>
            <tr>
                <td colspan="2">Date of Birth</td>
                <td colspan="3">
                    <input type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:100px" value="@(c.DateofBirth == null ? "" : @Convert.ToDateTime(c.DateofBirth).ToString("dd-MM-yyyy"))" />

                </td>
                <td colspan="10">Holder of C.D.C.No.  <input type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:180px" value="@(c.CDCNo == null ? "" : c.CDCNo)" /></td>

            </tr>
            <tr>
                <td colspan="2">Passport No.</td>
                <td colspan="3">
                    <input type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:100px" value="@(c.PassportNo == null ? "" : c.PassportNo)" />

                </td>
                <td colspan="10">Certificate of Competency,(if any)</td>

            </tr>

            <tr>

                <td colspan="1">Grade:</td>
                <td colspan="6">
                    <input type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:100px" value="@(c.Grade == null ? "" : c.Grade)" />
                </td>
                <td colspan="1">No.</td>
                <td colspan="3">
                    <input type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:100px" value="@(c.Number == null ? "" : c.Number)" />
                </td>
                <td colspan="4">Indian National Database</td>
            </tr>
            <tr>
                <td colspan="3">of Seafarers(INDoS No.)</td>
                <td colspan="12">
                    <input style="font-family:'Times New Roman';font-size:15px; font-weight:bold" value="@(c.Indosno == null ? "" : c.Indosno)" />
                </td>
            </tr>
            <tr>
                <td colspan="15">@(c.LineOfCertificate == null ? "" : c.LineOfCertificate)</td>
            </tr>
            <tr>
                <td style="text-align:center" colspan="15"><span style="font-family:Calibri;font-size:22px; font-weight:bold">@(c.CourseName == null ? "" : c.CourseName)</span></td>
            </tr>

            <tr>
                <td colspan="2">held from </td>
                <td colspan="5">
                    <input style="font-family:'Times New Roman';font-size:15px; font-weight:bold" value="@(c.StartDate == null ? "" : @Convert.ToDateTime(c.StartDate).ToString("dd-MM-yyyy"))" />
                </td>
                <td align="center">to</td>
                <td colspan="7">
                    <input style="font-family:'Times New Roman';font-size:15px; font-weight:bold" value="@(c.EndDate == null ? "" : @Convert.ToDateTime(c.EndDate).ToString("dd-MM-yyyy"))" />
                </td>
            </tr>
            <tr>
                <td colspan="15"><p>@(c.Paragraph1 == null ? "" : c.Paragraph1)</p></td>
            </tr>
            <tr>
                <td colspan="15"><p>@(c.Paragraph2 == null ? "" : c.Paragraph2)</p></td>
            </tr>
            <tr>
                <td colspan="15"><p>@(c.Paragraph3 == null ? "" : c.Paragraph3)</p></td>
            </tr>
            <tr>
                <td colspan="9">Signature of Candidate:__________________</td>

                <td align="center" colspan="6">_____________________________<br>Course Incharge<br>(@(c.CourseInCharge == null ? "" : c.CourseInCharge))</td>

            </tr>
            <tr>
                <td colspan="2">Date of Issue: </td>
                <td colspan="5">
                    <input style="font-family:'Times New Roman';font-size:15px; font-weight:bold" value="@(c.DateOfIssue == null ? "" : Convert.ToDateTime(c.DateOfIssue).ToString("dd-MM-yyyy"))" />
                </td>
                <td rowspan="2" colspan="10" style="text-align:center">

                    @Html.Image(c.PrincipalSign, "No Signature Available", "100", "200")

                </td>
            </tr>
            <tr>
                <td colspan="7">
                    @(c.DateofExpiry == null ? "" : c.DateofExpiry)
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div style="width:125px;height:135px;border:1px solid #000; display: flex;align-items: center;justify-content: center;"><p style="text-align:center;vertical-align:middle">Photograph</p></div>
                </td>

                <td align="center" colspan="7">

                    Principal<br />(@(c.PrincipalName == null ? "" : c.PrincipalName))<br />
                    <img src="~/Img/DNV LOGO.jpg" style="width:50px;height:80px;" />

                </td>

            </tr>
            <tr>
                <td colspan="15">
                    <span style="font-weight:normal;font-size:xx-small">@(c.Topic5 == null ? "" : c.Topic5)</span>
                </td>
            </tr>

        </tbody>


    </table>
 }