

@model Tsr.Core.Models.CertificationCertificateVM
@using Tsr.Web.Common
<style>
     html, tbody {
        font-family: Arial;
         font-size:14px;
    }
    input {
        border: 0;
        border-bottom: solid 1px #000;
        outline: none;
        width: 100%;
         text-transform:uppercase;
    }
</style>
@foreach (var c in Model._CertificateList)
{


    <table style="width:100%; height:100%; padding:20px;border-collapse:separate;border-style: solid;border-width:25px;-moz-border-image: url('../Img/border.png') 100 round;-webkit-border-image: url('../Img/border.png') 100 round;-o-border-image: url('../Img/border.png') 100 round;border-image: url('../Img/border.png') 100 fill round;page-break-inside:avoid" cellspacing="0">

        <thead>
            <tr>
                <td colspan="15">

                    <div style="text-align:center">

                        <span style="font-family:'Times New Roman';font-size:20px; font-weight:bold">SIR  MOHAMED  YUSUF  SEAMEN  WELFARE  FOUNDATION</span>

                        <div style="width:100%;">
                            <div style="width:85%;float:right">
                                Nhava,Panvel Taluka Dist. Raigad-410206,Maharashtra<br />

                                <b>Tel : 022-27212800/900 Fax: 0222272112495</b><br />
                                Email ID: tsrahman@tsrahaman.org<br />
                                www.tsrahaman.org<br />
                                INDOS No.009<br />
                                <span style="font-family:'Old English Text MT';font-size:40px; font-weight:bold">Training Ship Rahaman</span><br />
                                <span style="font-family:Calibri;font-size:25px; font-weight:bold">DR.LEO BARNES PRE-SEA ACADEMY</span>
                            </div>
                            <div style="width:125px;height:155px;text-align:left;margin-right:15%">
                                <img src="~/Img/LOGO.jpg" style="width:120px;height:150px;position:absolute" />
                            </div>

                        </div>
                    </div>
                </td>

            </tr>

        </thead>
        <tbody>
            <tr>
                <td colspan="15" style="text-align:right;font-weight:bold;font-family:Calibri;font-size:large">Certificate No. @(c.CertificateNo == null ? "" : c.CertificateNo)</td>
            </tr>
            <tr>
                <td style="text-align:center" colspan="15">
                    <span style="font-family:Calibri;font-size:22px;font-style:italic; font-weight:bold;color:#3e4095">@(c.CourseName == null ? "" : c.CourseName)</span>
                </td>
            </tr>
            <tr>
                <td colspan="15">THIS IS TO CERTIFY THAT</td>

            </tr>
            <tr>
                <td colspan="15">
                    <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold" value="@(c.ApplicantName == null ? "" : c.ApplicantName)" />
                </td>

            </tr>
            <tr>
                <td colspan="2">

                    Roll No
                </td>
                <td colspan="2">
                    <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:100px" value="@(c.CDCNo == null ? "" : c.CDCNo)" />

                </td>
                <td colspan="8">
                    Date of Birth
                </td>
                <td colspan="3">
                    <input  readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:100%" value="@(c.DateofBirth == null ? "" : @Convert.ToDateTime(c.DateofBirth).ToString("dd-MM-yyyy"))" />
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    Indian National Database(INDoS No.)

                </td>
                <td colspan="2">
                    <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:100px" value="@(c.Indosno == null ? "" : c.Indosno)" />
                </td>
                <td colspan="2">
                    has attended


                </td>

            </tr>

            <tr>
                <td colspan="15">@(c.LineOfCertificate == null ? "" : c.LineOfCertificate)</td>

            </tr>




            <tr>
                <td colspan="15">
                    @(c.Paragraph1 == null ? "" : c.Paragraph1) <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:150px" value="@(c.StartDate == null ? "" : @Convert.ToDateTime(c.StartDate).ToString("dd-MM-yyyy"))" /> to
                    <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:150px" value="@(c.EndDate == null ? "" : @Convert.ToDateTime(c.EndDate).ToString("dd-MM-yyyy"))" />
                    at Training Ship "Rahaman"
                </td>
            </tr>



            <tr>
                <td colspan="15"><p>@(c.Paragraph2 == null ? "" : c.Paragraph2)</p></td>
            </tr>
            <tr>
                <td colspan="15"><p>@(c.Paragraph3 == null ? "" : c.Paragraph3)</p></td>
            </tr>

            <tr>
                <td colspan="9">Signature of Candidate:<input readonly style="width:100px" type="text" /></td>

                <td align="center" colspan="6"><input readonly type="text" /><br>Course Incharge<br>(@(c.CourseInCharge == null ? "" : c.CourseInCharge))</td>

            </tr>


            <tr>
                <td colspan="15">
                    Issued at Mumbai.
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Date of Issue:
                </td>
                <td colspan="2">
                    <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:100px" value="@(c.DateOfIssue == null ? "" : Convert.ToDateTime(c.DateOfIssue).ToString("dd-MM-yyyy"))" />
                </td>
                <td style="text-align:center" colspan="9">
                    Principal <br />(@(c.PrincipalName == null ? "" : c.PrincipalName))
                </td>
                <td colspan="2" style="text-align:center">
                    @Html.Image(c.PrincipalSign, "No Signature Available", "100", "180")
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div style="width:125px;height:135px;border:1px solid #000; display: flex;align-items: center;justify-content: center;"><p style="text-align:center;vertical-align:middle">Photograph</p></div>
                </td>

                <td align="right" colspan="7">


                    <img src="~/Img/DNV LOGO.jpg" style="width:50px;height:80px;" />

                </td>

            </tr>

            <tr>
                <td colspan="15">
                    <span style="font-weight:normal;font-size:xx-small"> @(c.Topic5 == null ? "" : c.Topic5)</span>
                </td>
            </tr>



        </tbody>


    </table>
}


