@model Tsr.Core.Models.CertificationCertificateVM
@using Tsr.Web.Common
<style>
      html, tbody {
        font-family: Arial;
         font-size:14px;
    }
    input {
        border: 0;
        border-bottom: solid 1px #000;
        outline: none;
        width: 100%;
        text-transform:uppercase;
        
        
    }
</style>
@foreach (var c in Model._CertificateList)
{


    <table style="width:100%; height:100%; padding-left:20px;padding-right:20px;padding-top:5px;padding-bottom:10px;border-collapse:separate;border-style: solid;border-width:25px;-moz-border-image: url('../Img/border.png') 100 round;-webkit-border-image: url('../Img/border.png') 100 round;-o-border-image: url('../Img/border.png') 100 round;border-image: url('../Img/border.png') 100 fill round;page-break-inside:avoid" cellspacing="0">

        <thead>
            <tr>
                <td colspan="15">

                    <div style="text-align:center">
                        <span style="font-family:'Times New Roman';font-size:20px; font-weight:bold">SIR  MOHAMED  YUSUF  SEAMEN  WELFARE  FOUNDATION</span>

                        <div style="width:100%;">
                            <div style="width:85%;float:right;font-family: Arial;font-size:12px">
                                Nhava,Panvel Taluka Dist. Raigad-410206,Maharashtra<br />

                                <b>Tel : 022-27212800/900 Fax: 022-27212495</b><br />
                                Email ID: tsrahaman@tsrahaman.org<br />
                                www.tsrahaman.org<br />
                                MTI No. 201004<br />
                                <span style="font-family:'Old English Text MT';font-size:40px; font-weight:bold">Training Ship Rahaman</span>
                            </div>
                            <div style="width:125px;height:155px;text-align:left;margin-right:15%">
                                <img src="~/Img/LOGO.jpg" style="width:120px;height:150px;position:absolute" />
                            </div>


                        </div>
                    </div>
                </td>

            </tr>
        </thead>
        <tbody>


            <tr>
                <td colspan="6">THIS IS TO CERTIFY THAT</td>
                <td colspan="9" style="text-align:right;font-weight:bold;font-family:Calibri;font-size:large">Certificate No. @(c.CertificateNo == null ? "" : c.CertificateNo)</td>

            </tr>
            <tr>
                <td colspan="15">
                    <input readonly style="font-family:'Times New Roman';font-size:15px; font-weight:bold" value="@(c.ApplicantName == null ? "" : c.ApplicantName)"/>
                </td>

            </tr>
            <tr>
                <td colspan="15">
                   <span style="padding-right:10px"> Date of Birth</span>
<span style="padding-right:10px">
                    <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:120px" value="@(c.DateofBirth == null ? "" : @Convert.ToDateTime(c.DateofBirth).ToString("dd-MM-yyyy"))" />
                    </span>
                    <span style="padding-right:10px">
                        Holder of C.D.C.No.
                        </span>
                    <span>
                        <input type="text" readonly style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:245px" value="@(c.CDCNo == null ? "" : c.CDCNo)" />
                    </span></td>
            </tr>
            <tr>
                <td colspan="15">
                    <span style="padding-right:10px">
                        Passport No.
                        </span>
                    <span style="padding-right:10px">
                        <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:120px" value="@(c.PassportNo == null ? "" : c.PassportNo)" />
                       </span> 
                    <span style="padding-right:10px">
                        Indian National Database(INDoS No.)
                        </span>
                    <span>
                        <input readonly style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:130px" type="text" value="@(c.Indosno == null ? "" : c.Indosno)" />
                    </span></td>

            </tr>

            <tr>
                <td colspan="15"><span style="padding-right:10px">has Successfully completed</span><span style="font-family:'Times New Roman';font-size:15px; font-weight:bold;font-style:italic">REFRESHER TRAINING</span></td>
            </tr>
            <tr>
                <td colspan="15">approved by the Directorate General of Shipping as per the requirement laid down in</td>
            </tr>
            <tr>
                <td colspan="15">@Html.Raw(c.LineOfCertificate == null ? "" : c.LineOfCertificate)</td>
            </tr>

            <tr>
                <td style="text-align:center" colspan="15"><span style="font-family:Calibri;font-size:22px; font-weight:bold;color:#3e4095">@(c.CourseName == null ? "" : c.CourseName)</span></td>
            </tr>

            <tr>
                <td colspan="15">
                    held on
                    <input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:100px" value="@(c.StartDate == null ? "" : @Convert.ToDateTime(c.StartDate).ToString("dd-MM-yyyy"))" />
                    and has provided evidence of having maintained the
                </td>
            </tr>
            <tr>
                <td colspan="15"><p>@Html.Raw(c.Paragraph1 == null ? "" : c.Paragraph1)</p></td>
            </tr>
            <tr>
                <td colspan="15"><p>@Html.Raw(c.Paragraph2 == null ? "" : c.Paragraph2)</p></td>
            </tr>
            <tr>
                <td colspan="15"><p>@Html.Raw(c.Paragraph3 == null ? "" : c.Paragraph3)</p></td>
            </tr>
            <tr style="padding-top: 20px;">
                <td colspan="9">Signature of Candidate:__________________</td>

                <td  colspan="6"><input readonly type="text" style="padding-top: 25px;" />
                    <center><br>Course Incharge<br><span style="text-transform:capitalize">(@(c.CourseInCharge == null ? "" : c.CourseInCharge))</span></center></td>

            </tr>
            <tr>
                <td colspan="7">
                    Date of Issue: 
                    <span style="padding-right:5px;">
                        <input readonly style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:100px" value="@(c.DateOfIssue == null ? "" : Convert.ToDateTime(c.DateOfIssue).ToString("dd-MM-yyyy"))" />
                    </span></td>
                <td rowspan="2" colspan="10" style="text-align:center;padding-top:5px">

                    @Html.Image(c.PrincipalSign, "No Signature Available", "75", "180")

                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <div style="width:250px">
                        @Html.Raw(c.Topic4 == null ? "" : c.Topic4)<input readonly type="text" style="font-family:'Times New Roman';font-size:15px; font-weight:bold;width:100px" value="@(c.DateofExpiry == null ? "" : Convert.ToDateTime(c.DateofExpiry).ToString("dd-MM-yyyy"))" />
</div></td>
            </tr>
            <tr>
                <td colspan="8">
                    <div>
                        <div style="width:100px;height:125px;border:1px solid #000; display: flex;align-items: center;justify-content: center;"><p style="text-align:center;vertical-align:middle">Photograph</p></div>
                    </div>
                </td>

                <td align="center" colspan="7">
                    <div style="align-content:center">
                        Principal<br />(@(c.PrincipalName == null ? "" : c.PrincipalName))<br /> INDoS No. : 98NL1339<br />
                        <br />
                        <div style="padding-left:50%">
                            <img src="~/Img/DNV LOGO.jpg" style="width:50px;height:85px;" />
                        </div>
                    </div>
                </td>





            </tr>
            <tr>
                <td colspan="15">
                    <span style="font-weight:normal;font-size:xx-small"> @Html.Raw(c.Topic5 == null ? "" : c.Topic5)</span>
                </td>
            </tr>

        </tbody>


    </table>
}
