@model IEnumerable<Tsr.Core.Models.CertificateDesignList>
@{
    ViewBag.Title = "Certificate DesignList";
}
<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
    <li><a href="#">Home</a></li>
    <li><a href="#">Certificate Design</a></li>
    <li><a href="#">Design Form</a></li>
    @*<li class="active">Error 404</li>*@
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div>
        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Design Form List</h3>

                        </div>

                        <div class="panel-body">
                            <div class="row" style="padding-bottom:10px">

                                @Html.ActionLink("New CertificateDesign", "DesignCreate", "Certification", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-info btn-rounded" })
                            </div>
                            <table id="customers2" class="table datatable">
                                <thead>
                                    <tr>

                                        <th>
                                            Course Name
                                        </th>
                                        <th>
                                            Course Title
                                        </th>
                                        <th>
                                            LineOfCertificate
                                        </th>
                                        <th>
                                            Paragraph1
                                        </th>
                                        <th>
                                            Paragraph2
                                        </th>
                                        <th>
                                            Paragraph3
                                        </th>
                                        <th>
                                            Topic 4
                                        </th>
                                        <th>
                                          Principal Name
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.CourseName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CourseNameTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LineOfCertificate)
                                            </td>
                                          
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Paragraph1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Paragraph2)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Paragraph3)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Topic4)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PrincipalName)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "DesignEdit", new { id = item.CertificateDesignId }, new { data_modal = "" }) |


                                            </td>
                                        </tr>
                                    }

                                </tbody>

                            </table>

                        </div>
                    </div>
                </form>

            </div>
        </div>


    </div>


</div>
<!-- END PAGE CONTENT WRAPPER -->
<!-- MODALS -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/js/plugins/bootstrap/bootstrap-select.js"></script>
<script src="~/Scripts/ModalForm.js"></script>