@model IEnumerable<Tsr.Core.Models.CertificateDesignList>

 <table id="customers2" class="table datatable" style="table-layout:fixed;width:100%">
                                <thead>
                                    <tr>

                                        <th>
                                            Course Name
                                        </th>
                                        <th>
                                            Course Title
                                        </th>
                                        <th>
                                            LineOfCertificate
                                        </th>
                                        <th>
                                            Paragraph1
                                        </th>
                                        <th>
                                            Paragraph2
                                        </th>
                                        <th>
                                            Paragraph3
                                        </th>
                                        <th>
                                            Topic 4
                                        </th>
                                        <th>
                                          Principal Name
                                        </th>
                                        <th>
                                            Certificate Formate
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.CourseName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CourseNameTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LineOfCertificate)
                                            </td>
                                          
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Paragraph1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Paragraph2)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Paragraph3)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Topic4)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PrincipalName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CertificateFormat)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "DesignEdit", new { id = item.CertificateDesignId }) |


                                            </td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
