@model Tsr.Core.Models.CertificationCertificateVM
@using Tsr.Web.Common
@{
    ViewBag.Title = "Certificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/commonjs/commondropdown.js"></script>
<ul class="breadcrumb push-down-0">
    <li><a href="#">Certification</a></li>
    <li class="active">Cerificate</li>

</ul>
<!-- END BREADCRUMB -->

<div class="page-content-wrap">
    <div>
        <div class="row">
            <div class="col-md-12">

                <div class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Certificate</h3>

                        </div>


                        <div class="panel-body">
                            @using (Html.BeginForm("Certificate", "Certification", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()


                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            Category
                                        </div>
                                        @Html.DropDownListFor(model => model.CategoryId
           , (IEnumerable<SelectListItem>)ViewBag.Categories, " ", new { @class = "form-control", @onchange = "FillCourse()" })
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            Course
                                        </div>
                                        @Html.DropDownListFor(model => model.CourseId,
                                         new SelectList(Enumerable.Empty<SelectListItem>(), "CourseId", "CourseName"), " ", new { @class = "form-control", @onchange = "FillBatch()" })
                                    </div>
                                </div>


                                <div class="col-lg-3">

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            Batch
                                        </div>
                                        @Html.DropDownListFor(model => model.BatchId,
                                         new SelectList(Enumerable.Empty<SelectListItem>(), "BatchId", "Name"), " ", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-lg-3">

                                    <div class="input-group">
                                        <input class="btn btn-primary" type="submit" value="View Certificate" />
                                       
                                           &nbsp;&nbsp; <input type="button" class="btn btn-primary" value="Print" id="btnPrint" />
                                       

                                    </div>
                                </div>



                            }
                        </div>

                        <div class="panel-body">
                           
                               
                                    <div id="Grid">
                                        @if(Model._CertificateList != null)
                                        {
                                        foreach (var c in Model._CertificateList)
                                        {

                                        <table style="width:100%; height:95%; padding:20px;border-collapse:separate;border-style: solid;border-width: 27px;-moz-border-image: url('../Img/border.png') 27 round;-webkit-border-image: url('../Img/border.png') 27 round;-o-border-image: url('../Img/border.png') 27 round;border-image: url('../Img/border.png') 27 fill round;page-break-inside:avoid" border="0" cellspacing="0">

                                            <thead>
                                                <tr>
                                                    <td colspan="15">
                                                       
                                                      <div style="text-align:center">
                                                          <span style="font-family:'Times New Roman';font-size:20px; font-weight:bold">SIR  MOHAMED  YUSUF  SEAMEN  WELFARE  FOUNDATION</span>
                                                        
                                                          <div style="width:100%;">
                                                              <div style="width:85%;float:right">
                                                                  Nhava,Panvel Taluka Dist. Raigad-410206,Maharashtra<br />
                                                               
                                                                  Tel : 022-27212800/900 Fax: 0222272112495<br />
                                                                  Email ID: tsrahman@tsrahaman.org<br />
                                                                  www.tsrahaman.org<br />
                                                                  INDOS No.009<br />
                                                                  <span style="font-family:'Old English Text MT';font-size:40px; font-weight:bold">Training Ship Rahaman</span>
                                                                  </div>
                                                              <div style="width:150px;height:160px;text-align:left;margin-right:15%">
                                                                  <img src="~/Img/avatar.png" style="width:140px;height:150px;position:absolute" />
                                                              </div>
                                                                  
                                                               
                                                              </div>
                                                      </div>
                                                    </td>
                                                  
                                                </tr>
                                           </thead>
                                            <tbody>

                                                <tr>
                                                    <td  colspan="6">THIS IS TO CERTIFY THAT</td>
                                                    <td colspan="9" style="text-align:right;font-weight:bold;font-family:Calibri;font-size:large">Certificate No. 0610510012016</td>
                                                   
                                                </tr>
                                                <tr style="border-bottom:1px solid black">
                                                    <td style="border-bottom: 1px solid black;" colspan="15">
                                                        <span style="font-family:'Times New Roman';font-size:15px; font-weight:bold" >TIAGO SERASTIAO MABIALALUEMBA @(c.ApplicantName == null ? "":c.ApplicantName)</span>
                                                        </td>
                                                   
                                                </tr>
                                                <tr>
                                                    <td  colspan="2">Date of Birth</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="5">
                                                    @(c.DateofBirth==null?"21/08/1989":@Convert.ToDateTime(c.DateofBirth).ToString("dd-MM-yyyy"))
                                                   </td>
                                                    <td align="center" colspan="3">Holder of C.D.C .No.</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="5">@(c.CDCNo==null?"":c.CDCNo)</td>
                                                </tr>
                                                <tr>
                                                    <td  colspan="2">Passport No.</td>
                                                    <td style="border-bottom: 1px solid black;"  colspan="5">@(c.PassportNo==null?"N1861862":c.PassportNo)</td>
                                                    <td  colspan="8">Certificate of Competency,(if any)</td>

                                                </tr>
                                                <tr>
                                                    <td  colspan="2">Grade:</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="6">@(c.Grade==null?"":c.Grade)</td>
                                                    <td  colspan="1">No.</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="3">@(c.Number==null?"":c.Number)</td>
                                                    <td  colspan="3">Indian National Database</td>
                                                </tr>
                                                <tr>
                                                    <td  colspan="5">of Seafarers(INDoS No.)</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="10">@(c.Indosno==null?"":c.Indosno)</td>
                                                </tr>
                                                <tr>
                                                    <td  colspan="15">@(c.LineOfCertificate==null?"":c.LineOfCertificate)</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center" colspan="15"><span style="font-family:Calibri;font-size:22px; font-weight:bold">@(c.CourseName == null ? "" : c.CourseName)</span></td>
                                                </tr>
                                              
                                                <tr>
                                                    <td  colspan="2">held from </td>
                                                    <td style="border-bottom: 1px solid black;" colspan="5">@(c.StartDate==null?"":@Convert.ToDateTime(c.StartDate).ToString("dd-MM-yyyy"))</td>
                                                    <td align="center" >to</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="7">@(c.EndDate==null?"":@Convert.ToDateTime(c.EndDate).ToString("dd-MM-yyyy"))</td>
                                                </tr>
                                                <tr>
                                                    <td  colspan="15"><p>@(c.Paragraph1==null?"":c.Paragraph1)</p></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="15"><p>@(c.Paragraph2==null?"":c.Paragraph2)</p></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="15"><p>@(c.Paragraph3==null?"":c.Paragraph3)</p></td>
                                                </tr>
                                                <tr>
                                                    <td  colspan="7">Signature of Candidate:____________________</td>
                                                   
                                                    <td align="center"  colspan="8">_____________________________<br>Course Incharge<br>(@(c.CourseInCharge==null?"":c.CourseInCharge))</td>

                                                </tr>
                                                <tr>
                                                    <td colspan="2" >Date of Issue: </td>
                                                    <td  colspan="3" style="border-bottom: 1px solid black;">
                                                        @(c.DateOfIssue == null ? "" : Convert.ToDateTime(c.DateOfIssue).ToString("dd-MM-yyyy"))
                                                        </td>
                                                   <td  rowspan="2" colspan="10" style="text-align:center">
                                                        
                                                            @Html.Image(c.PrincipalSign, "No Signature Available", "80", "100")
                                                      
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5">
                                                        @(c.DateofExpiry == null ? "" : c.DateofExpiry)
                                                     </td>
                                                </tr>
                                                <tr>
                                                    <td  colspan="8">
                                                        <div style="width:125px;height:135px;border:1px solid #000;text-align: center;">Photograph</div>
                                                    </td>

                                                    <td align="center"  colspan="7">
                                                      
                                                    Principal<br />(@(c.PrincipalName==null?"":c.PrincipalName))<br />
                                                        <img src="~/Img/DNV LOGO.jpg" style="width:50px;height:80px;" />
                                                       
                                                    </td>

                                                </tr>


                                            </tbody>
                                            <tfoot>

                                            </tfoot>

                                        </table>
                                        }
                                        }
                                    </div>



                               
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>

   
</div>



<script type="text/javascript">
        $("#btnPrint").click(function () {
            var divContents = $("#Grid").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>Certificate</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
</script>
