@model Tsr.Core.Models.CheckListVM
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Check List Edit </h4>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <div class="modal-body">
         

              
                <div class="form-horizontal">




                    @Html.HiddenFor(model => model.ApplicationId)



                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label col-md-3" })

                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.ApplicationId, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })

                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                  
                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-3" })

                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.DOB, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control", @type = "Date" } })

                                    </div>

                                </div>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Cdcno, htmlAttributes: new { @class = "control-label col-md-3" })

                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.Cdcno, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.PassportNo, htmlAttributes: new { @class = "control-label col-md-3" })

                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.PassportNo, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Rank, htmlAttributes: new { @class = "control-label col-md-3" })

                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.Rank, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-3" })

                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IndosNo, htmlAttributes: new { @class = "control-label col-md-3" })

                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        @Html.EditorFor(model => model.IndosNo, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>





                </div>



            </div>
      
  

   
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
}
<!-- MODALS -->


<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>


