@model Tsr.Core.Models.CertificateViewResultFormat
@{
    ViewBag.Title = "ViewResultFormat";
    Layout = "~/Views/Shared/_PdfLayoutForCertificate.cshtml";
}
<style>
   
    table {
        border: 0.1px solid black;
        border-spacing: 0px;
        font-size:12px;
    }

       

        table tr td {
            margin: 0px;
            padding:10px;
        }

   
</style>


<table style="width:100%;">
    <tr>
        <td colspan="8" style="font:bold">Course Name: @(Model.CourseName)</td>
       


    </tr>
    <tr>
        <td colspan="2" style="font:bold">Course Date: @(Model.From == null ? "" : @Convert.ToDateTime(Model.From).ToString("dd-MM-yyyy"))</td>
       
        <td colspan="2" style="font:bold">From Date  @(Model.From == null ? "" : @Convert.ToDateTime(Model.From).ToString("dd-MM-yyyy"))</td>
        
        <td colspan="2" style="font:bold">To Date  @(Model.To == null ? "" : @Convert.ToDateTime(Model.To).ToString("dd-MM-yyyy"))</td>
       
        <td colspan="2" style="font:bold">Batch No. @Model.BatchCode</td>
      
    </tr>
    <tr>
        <td style="border: 0.1px solid black;font:bold">SrNo</td>
        <td style="border: 0.1px solid black;font:bold">CandidatesName</td>
        <td style="border: 0.1px solid black;font:bold">DateOfBirth</td>
        <td style="border: 0.1px solid black;font:bold">IndosNo</td>
        <td style="border: 0.1px solid black;font:bold">PassportNo</td>
        <td style="border: 0.1px solid black;font:bold">CdcNo</td>
        <td style="border: 0.1px solid black;font:bold">CertificateNo</td>
        <td style="border: 0.1px solid black;font:bold">Signature</td>
     
    </tr>
 @{int i = 0;}
    @foreach (var item in Model._CertificateApplicantList)
    {
        i++;
        <tr>
            <td style="border: 0.1px solid black;">@i</td>
            <td style="border: 0.1px solid black;">@item.ApplicantName</td>
            <td style="border: 0.1px solid black;">@(item.DateOfBirth == null ? "" : @Convert.ToDateTime(item.DateOfBirth).ToString("dd-MM-yyyy"))</td>
            <td style="border: 0.1px solid black;">@item.IndosNo</td>
            <td style="border: 0.1px solid black;">@item.PassportNo</td>
            <td style="border: 0.1px solid black;">@item.CdcNo</td>
            <td style="border: 0.1px solid black;">@item.CertificateNo</td>
            <td style="border: 0.1px solid black;">&nbsp;&nbsp;&nbsp;</td>

       </tr>
    }
</table>




