@model IEnumerable<Tsr.Core.Models.BatchListVM>

<table id="customers2" class="table ">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.BatchCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>@Html.DisplayNameFor(model => model.IsActive) </th>
            <th>@Html.DisplayNameFor(model => model.OnlineBookingStatus) </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BatchCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => Convert.ToDateTime(item.StartDate).ToString("dd-MM-yyyy"))*@
                    @Convert.ToDateTime(item.StartDate).ToString("dd-MM-yyyy")
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.EndDate)*@
                    @Convert.ToDateTime(item.EndDate).ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnlineBookingStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "BatchEdit", new { id = item.CourseId }, new { data_modal = "" }) |


                </td>
            </tr>
        }

    </tbody>

</table>
<!-- END PAGE CONTENT WRAPPER -->
<!-- MODALS -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/js/plugins/bootstrap/bootstrap-select.js"></script>
<script src="~/Scripts/ModalForm.js"></script>
