
@model Tsr.Core.Entities.Package

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Add New Package </h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PackageId)
    @Html.HiddenFor(model=>model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedDate)
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="row">

                <div class="col-md-10">

                    <div class="form-group">
                        @Html.LabelFor(model => model.PackageName, htmlAttributes: new { @class = "control-label col-md-3" })

                        <div class="col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.EditorFor(model => model.PackageName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })

                        <div class="col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-3" })

                        <div class="col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>
                    </div>



                </div>


            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#PackageName').blur(function () {
            var PackageName = $('#PackageName').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("IsPackageNameExists")',
                dataType: 'JSON',
                data: { PackageName: PackageName },
                success: function (data) {
                    if (data.PackageName != null) {
                        alert("Package Name Already Exist")
                        $('#PackageName').val('');
                        $('#PackageName').focus();
                        return false;
                    }
                }
            });
        });
    })
</script>
