@model List<Tsr.Core.Models.HallTicketListVM>
<script src="~/Scripts/js/plugins/datatables/jquery.dataTables.min.js"></script>
@using (Html.BeginForm("HallTickets", "Admission", FormMethod.Post))
{
<table id="customers2" class="table datatable">
    <thead>
        <tr>

            <th>Application Code</th>
            <th>Name</th>

            <th>Email</th>
            <th>Cell</th>
            
            <th>Select</th>
        </tr>
    </thead>
    <tbody>

      @for (int i = 0; i < Model.Count(); i++)
      {
            <tr>

             
                <td>@Html.DisplayFor(modelItem => Model[i].ApplicationCode)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].Name)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].Email)</td>
                <td>@Html.DisplayFor(modelItem => Model[i].Cell)</td>
               
                <td>@Html.EditorFor(modelItem => Model[i].Select)</td>
                 @Html.HiddenFor(modelItem => Model[i].BatchId)
                @Html.HiddenFor(modelItem => Model[i].ApplicationId)
            </tr>
        }

    </tbody>

</table>
    if (ViewBag.Flag == "1")
    {
<div class="col-md-3">
    <div class="input-group">
        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
        @Html.DropDownList("CetMasterId", (IEnumerable<SelectListItem>)ViewBag.CetMaster, "Select Cet", new { @class = "form-control" })
    </div>

</div>

<div class="col-md-3">
    <div class="input-group">
        <input class="btn btn-primary" type="submit" value="Publish Halticket" />

    </div>

</div>
    }
}
