@model IEnumerable<Tsr.Core.Models.HallTicketListVM>

<table id="customers2" class="table datatable">
    <thead>
        <tr>

            <th>Application Code</th>
            <th>Name</th>

            <th>Email</th>
            <th>Cell</th>
            <th>Paid Amount</th>
            <th>Select</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>


                <td>@Html.DisplayFor(modelItem => item.ApplicationCode)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Cell)</td>
                <td>@Html.DisplayFor(modelItem => item.PaidAmount)</td>
                <td>@Html.EditorFor(modelItem=>item.Select)</td>
            </tr>
        }

    </tbody>

</table>

