@model IEnumerable<Tsr.Core.Models.AdmissionInterviewScheduleVM>
<table id="customers2" class="table datatable">
    <thead>
        <tr>
            <th>Interview Code</th>
            <th>Course</th>
            <th>Batch</th>
            <th>Interview Date</th>
            <th>Interview Time</th>
            <th>Venue</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var date = Convert.ToDateTime(item.InterviewDate).ToString("dd-MM-yyyy");
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InterviewCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @if (item.Batch == null)
                    { <text>@item.Batch</text>}
                    else
                    {<text>@Convert.ToDateTime(item.Batch).ToString("dd-MM-yyyy")</text> }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterviewTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue)
                </td>
                <td>
                    @Html.ActionLink("Edit", "InterviewScheduleEdit", new { id = item.InterviewMasterId }) |

                </td>
            </tr>
        }

    </tbody>

</table>

