@model IEnumerable<Tsr.Core.Models.AdmissionMedicalScheduleVM>
<table id="customers2" class="table datatable">
    <thead>
        <tr>
            <th>Medical Code</th>
            <th>Course</th>
            <th>Batch</th>
            
            <th>Medical Date</th>
            <th>Medical Fees</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var date = Convert.ToDateTime(item.MedicalDate).ToString("dd-MM-yyyy");
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalCode)
                </td>

            
                <td>

                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @if (item.Batch == null)
                    { <text>@item.Batch</text>}
                    else
                    {<text>@Convert.ToDateTime(item.Batch).ToString("dd-MM-yyyy")</text> }
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalFees)
                </td>
                <td>
                    @Html.ActionLink("Edit", "MedicalScheduleEdit", new { id = item.MedicalMasterId }, new { data_modal = "" }) |

                </td>
            </tr>
        }

    </tbody>

</table>
<script src="~/Scripts/js/plugins/bootstrap/bootstrap-select.js"></script>
<script src="~/Scripts/ModalForm.js"></script>

