

@model List<Tsr.Core.Models.AdmissionConfirmListVM>
@using (Html.BeginForm("ConfirmAdmissions", "Admission", FormMethod.Post))
{
    <table id="customers2" class="table ">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Application Code</th>
                <th>Name</th>
                <th>Course</th>
                <th>Batch</th>
                <th>Email</th>
                <th>Cell</th>
                <th>Fee Paid</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    @Html.Hidden("obj[" + @i + "].ApplicationId", Model[i].ApplicationId)
                    <td>@{int z = i + 1;} @z</td>
                    <td>
                        @Html.Hidden("obj[" + @i + "].ApplicationCode", Model[i].ApplicationCode)
                        @Model[i].ApplicationCode
                    </td>
                    <td>
                        @Html.Hidden("obj[" + @i + "].Name", Model[i].Name)
                        @Model[i].Name
                    </td>
                    <td>
                        @Html.Hidden("obj[" + @i + "].Course", Model[i].Course)
                        @Model[i].Course
                    </td>
                    <td>
                        @Html.Hidden("obj[" + @i + "].Batch", Model[i].Batch)
                        @Model[i].Batch
                    </td>
                    <td>
                        @Html.Hidden("obj[" + @i + "].Email", Model[i].Email)
                        @Model[i].Email
                    </td>
                    <td>
                        @Html.Hidden("obj[" + @i + "].Cell", Model[i].Cell)
                        @Model[i].Cell
                    </td>
                    <td>
                       @Html.Hidden("obj[" + @i + "].FeePaid", Model[i].FeePaid)
                    @Model[i].FeePaid
                    </td>

                </tr>
            }



        </tbody>

    </table>
    @*if (ViewBag.Flag == "1")
    {


        <div class="col-md-3">
            <div class="input-group">
                <input class="btn btn-primary" type="submit" value="Confirm Admission" />

            </div>

        </div>

    }*@
}