
@{
    ViewBag.Title = "Student Course Payments";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
    <li><a href="#">Home</a></li>
    <li><a href="#">Fees</a></li>
    <li><a href="#">Course Payments</a></li>
    @*<li class="active">Error 404</li>*@
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div>
        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">List</h3>

                        </div>

                        <div class="panel-body">
                            <div style="border:solid; padding:18px">
                                <h4>Single Course</h4>
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="form-group">

                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownList("CategoryId",
                                                (IEnumerable<SelectListItem>)ViewBag.Categories, "Select Category", new { @class = "form-control", @onchange = "FillCourse()" })
                                                </div>

                                            </div>

                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownList("CourseId",
                   new SelectList(Enumerable.Empty<SelectListItem>(), "CourseId", "CourseName"),
              " ", new { @class = "form-control", @onchange = "FillBatch()" })
                                                </div>

                                            </div>

                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownList("BatchId",
                   new SelectList(Enumerable.Empty<SelectListItem>(), "BatchId", "Name"),
              " ", new { @class = "form-control", @onchange = "FillStudents()" })
                                                </div>

                                            </div>

                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownList("StudentId",
                   new SelectList(Enumerable.Empty<SelectListItem>(), "ApplicationId", "Name"),
              " ", new { @class = "form-control" })
                                                </div>

                                            </div>

                                        </div>
                                        <div class="form-group">

                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input class="btn btn-primary" type="button" value="Search" onclick="Search()" />
                                                    &nbsp;&nbsp; <input type="button" class="btn btn-primary" value="Refresh Page" onClick="window.location.reload()">
                                                </div>

                                            </div>

                                        </div>


                                    </div>


                                </div>
                            </div>
                            <br /><br />
                            <div style="border:solid; padding:18px">
                                <h4>Package Course</h4>
                                <div class="row">
                                    <div class="form-group">

                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.DropDownList("PackageId",
                                                (IEnumerable<SelectListItem>)ViewBag.Packages, "Select Package", new { @class = "form-control", @onchange = "FillStudentsP()" })
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                @Html.DropDownList("StudentIdP",
                   new SelectList(Enumerable.Empty<SelectListItem>(), "ApplicationId", "Name"),
              " ", new { @class = "form-control" })
                                            </div>

                                        </div>

                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <input class="btn btn-primary" type="button" value="Search" onclick="SearchP()" />
                                                &nbsp;&nbsp; <input type="button" class="btn btn-primary" value="Refresh Page" onClick="window.location.reload()">

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br /><br /><br />
                            <div id="dvResult">
                                @*@{Html.RenderPartial("ApplicantsList", Model);}*@

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>


    </div>


</div>
<!-- END PAGE CONTENT WRAPPER -->
<script>

  function Search() {
      var ApplicationId = $('#StudentId').val();

      $("#dvResult").load('@(Url.Action("CoursePaymentsSearch", "Fees",null, Request.Url.Scheme))?ApplicationId=' + ApplicationId);
  }
    function SearchP() {
        var ApplicationId = $('#StudentIdP').val();

        $("#dvResult").load('@(Url.Action("CoursePaymentsSearch", "Fees",null, Request.Url.Scheme))?ApplicationId=' + ApplicationId);
    }

</script>
<script src="~/Scripts/commonjs/FeesCoursePayments.js"></script>