@model IEnumerable<Tsr.Core.Models.FeesApplicantList>

<table id="customers2" class="table datatable">
    <thead>
        <tr>

            <th>Application Code</th>
            
            <th>Name</th>
            <th>Paid Amount</th>
            <th>Balance Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ApplicationCode)</td>
                
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.PaidAmount)</td>
                <td>@Html.DisplayFor(modelItem => item.BalanceAmount)</td>
                <td>
                    @Html.ActionLink("Make Payment", "CoursePaymentsMP", new { id = item.ApplicationId }, new { data_modal = "" }) |@Html.ActionLink("Print Receipt", "CoursePaymentPrintReceipt", new { id = item.ApplicationId })
                </td>
            </tr>
        }

    </tbody>

</table>

<!-- MODALS -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/js/plugins/bootstrap/bootstrap-select.js"></script>
<script src="~/Scripts/ModalForm2.js"></script>