<!DOCTYPE html>

<html>
<head>
    <!-- META SECTION -->
    <meta name="viewport" content="width=device-width" />
    <title>TSRahaman : @ViewBag.Title</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/Content/css/theme-black.css" />
    <link href="~/Content/css/jquery/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
        @Styles.Render("~/Content/dropzonescss")
        <link href="~/Content/chosen.css" rel="stylesheet" />
    <!-- EOF CSS INCLUDE -->

    <script src="~/Scripts/js/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/js/plugins/jquery/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/js/plugins/bootstrap/bootstrap-datepicker.js"></script>

    <style>
          #loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
    position:absolute;
    width:592px; /*image width */
    height:512px; /*image height */
    left:50%; 
    top:50%;
    margin-left:-296px; /*image width/2 */
    margin-top:-256px; /*image height/2 */
}
    </style>
</head>
<body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        @if (User.IsInRole("Admin"))
        {
            @Html.Partial("_SidebarAdmin");
        }
        else if(User.IsInRole("Admission"))
        { 
            @Html.Partial("_SidebarAdmission");
        }
        else if (User.IsInRole("Fees"))
        {
            @Html.Partial("_SidebarFees");
        }
        else if (User.IsInRole("Fees Worli"))
        {
            @Html.Partial("_SidebarFees");
        }
        else if (User.IsInRole("Printing"))
        {
            @Html.Partial("_SidebarPrinting");
        }






        <!-- END PAGE SIDEBAR -->
        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION Headbar -->
            @Html.Partial("_Headbar")
            <!-- END X-NAVIGATION Headbar -->

            @RenderBody()
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- MESSAGE BOX-->
    @Html.Partial("_logoff")
 
    <!-- END MESSAGE BOX-->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>
    <!-- START PRELOADS -->
    <audio id="audio-alert" src="~/audio/alert.mp3" preload="auto"></audio>
    <audio id="audio-fail" src="~/audio/fail.mp3" preload="auto"></audio>
    <!-- END PRELOADS -->
    <!-- START SCRIPTS -->
    
    <!-- START THIS PAGE PLUGINS-->

    <script src="~/Scripts/js/plugins/icheck/icheck.min.js"></script>
    <script src="~/Scripts/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <!-- END THIS PAGE PLUGINS-->
    <!-- START TEMPLATE -->
    <script src="~/Scripts/js/plugins.js"></script>
    <script src="~/Scripts/js/actions.js"></script>
    <script  src="~/Scripts/js/plugins/maskedinput/jquery.maskedinput.min.js"></script>
   @Scripts.Render("~/bundles/dropzonescripts")
    <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
    @RenderSection("Scripts", required:false)
    <div id="loading">
        <img id="loading-image" src="~/Img/ajax-loader.gif" alt="Loading..." />
    </div>
    <script language="javascript" type="text/javascript">
     $(window).load(function() {
     $('#loading').hide();
  });
    </script>
    <script src="~/Scripts/ModalForm2.js"></script>
</body>
</html>
